/*
 * Use restrict of Forumotion Support Forums.
 * DO NOT USE OR REDISTRIBUTE.
 *
 * Copyrights (c) Fórum dos Fóruns.
 * Developed by Luiz, Ange Tuteur and others.
 */

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    background-color: #fff;
    line-height: 1.5;
    color: #262626;
}


/* Basic Config */

.clearfix::after,
.fa-form-group::after {
    content: "";
    display: table;
    clear: both;
}

.clickhere {
    font-weight: bold;
    color: #000!important;
}

.clickhere:hover {
    border-bottom: 1px solid #A8A8A0;
}

a,
a:link,
a:visited,
a:active {
    color: #39c;
    text-decoration: none;
}

a:hover {
    border-bottom: solid 1px #39c;
    color: #39c;
    text-decoration: none;
}

a.white-a {
    color: #fff;
    border-bottom: solid 1px #fff;
}

a.white-a:hover {
    color: #555;
    border-bottom-color: #555;
}

input,
select,
textarea {
    color: #444;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    outline: 0!important;
}

[readonly] {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-user-grag: none;
    -ms-user-grag: none;
    -o-user-grag: none;
    -webkit-user-grag: none;
    background-color: #e4e4e4;
    border-color: solid 1px #ccc!important;
    border-color: #ccc!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font {
    font-family: "Trebuchet MS", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.disabled {
    opacity: .7;
}

.disabled,
.disabled * {
    cursor: not-allowed!important;
}

/* Page Header */

header.page-header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 40px 120px;
}

header.page-header a.logo {
    color: #333;
    text-transform: uppercase;
    background: url(https://i.imgur.com/xPZysoy.png) no-repeat 0 0;
    padding: 10px 0px 10px 70px;
    text-decoration: none;
    font-size: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.page-header a.logo:hover {
    border: none;
}

.social {
    float: right;
}

header.page-header .social a {
    color: #fff;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    background: no-repeat 50% 50% #bbb;
    background-color: #333;
    border-radius: 3px;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 3px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
}

.social-button:hover {
    background-color: #000;
}

.social-button.fb-but:hover {
    background-color: #3B5998;
}

.social-button.tw-but:hover {
    background-color: #5EA9DD;
}

.social-button.yt-but:hover {
    background-color: #E52C27;
}

.social-button.rs-but:hover {
    background-color: #FAA21B;
}

header.page-header .social a i {
    line-height: 34px;
}


/* Progress Bar */

.form-progress {
    background: #39C;
    padding: 20px 125px;
}

div.step {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

span.progress-status {
    line-height: 40px;
    text-align: center;
    background: #B9E0F1;
    border-radius: 100px;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

span.progress-text {
    display: inline-block;
    margin-right: 10px;
}

div.step.inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

div.step#step-2.inactive {
    cursor: not-allowed!important;
}


/* Form Content */

h2.part-title {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-top: 8px;
    color: #fff;
    margin-bottom: 15px;
}

#fa-generated-form,
#fa-login-form {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
}

#fa-login-form {
    border-color: #ddd!important;
}

#fa-login-form {
    margin-bottom: 4em!important;
}

.fa-form-wrapper {
    width: 100%;
}

.fa-form-group {
    display: block;
    width: 100%;
    padding: 0px 20px;
}

.fa-form-group *:last-child {
    margin-bottom: 7px;
}

.fa-form-group h4 {
    font-size: 23px;
    color: #3072ab;
}

.fa-form-group p {
    font-size: 16.4px;
    border-left: solid 3px #ddd;
    margin-left: -20px;
    padding-left: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#fa-generated-form h1,
#fa-login-form h1 {
    font-size: 35px;
    display: block;
    text-align: center;
    margin: 15px 0px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #3072ab;
    margin-top: 0px;
    font-weight: normal;
}

.fa-form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.fa-form-group input,
.fa-form-group textarea,
.fa-form-group select {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.fa-form-group input:focus,
.fa-form-group textarea:focus,
.fa-form-group select:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0;
}

.fa-form-group select[multiple] {
    padding-right: 0px;
}

.fa-submit {
    display: block;
    width: 100%;
    padding: 20px;
}

.fa-submit button {
    padding: 10px 20px;
    background-color: #3072ab;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

.fa-submit button:hover {
    background-color: #2a6192;
}

[class*="conteneur"] #fa-generated-form,
[class*="contaneur"] #fa-login-form {
    border-top: solid 1px #ddd;
    margin-top: 20px;
    border-radius: 3px!important;
}

@media (max-width: 700px) {
    #fa-generated-form,
    #fa-login-form {
        width: 100%;
        border: none;
    }
}

.image.ar i {
    font-size: 3pc;
    padding: 1.5pc;
    background: #ef3333;
    color: #fff;
    border-radius: 4pc
}

.fa-form-wrapper {
    background: #3398cc
}

.fa-form-group h4 {
    color: #fff;
    font-size: 20px;
    border-bottom: 2px solid #fff
}

.fa-form-group.clearfix {
    padding-top: 1pc
}

.fa-submit {
    background: #3397cb
}

button.post-button {
    background: #333
}

.fa-form-group textarea {
    height: 10pc
}

form#fa-generated-form,
#fa-login-form {
    margin-top: 2pc
}

/* Parts */

.global-wrap {
    display: none;
}

.info-text.align-center {
    width: 60%;
    margin: 45px auto;
    margin-bottom: 0px;
    text-align: center;
}

.info-text h1 {
    color: #39c;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    margin: 20px 0px;
    display: inline-block;
}

.info-text img {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.info-text p {
    font-size: 14px;
    color: #333;
    font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.part {
    display: block;
    position: relative;
    width: 60%;
    margin: 45px auto 0px auto;
    background-color: #39c;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
}

.part h2.part-title {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-top: 8px;
    color: #fff;
    margin-bottom: 15px;
}

.wrapper-inner {
    width: 100%;
}

#preview-zone {
    background-color: #fff;
    color: #555;
    padding: 20px;
    border-radius: 3px;
}

.fa-form-group {
    color: #fff;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -webkit-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
}

.fa-form-group label {
    display: block;
    display: table;
    cursor: pointer;
}

.fa-form-group input,
.fa-form-group textarea,
.fa-form-group select {
    margin-bottom: 20px;
    padding: 8px 9px;
    width: 100%;
    border: solid 1px #fff;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    font-family: inherit;
    resize: none;
    -webkit-transition: all ease-in-out .19s, width 0s;
    transition: all ease-in-out .19s, width 0s;
}

.fa-form-group input:focus,
.fa-form-group textarea:focus,
.fa-form-group select:focus {
    box-shadow: inset 0 0 1px #444444, 0 0 1px 1px #444444;
    border-color: #444444;
    outline: 0;
}

.fa-form-group .input-danger {
    box-shadow: inset 0 0 1px #c31, 0 0 1px 1px #c31 !important;
    border-color: #c31 !important;
    outline: 0 !important;
}

.fa-form-group .input-danger:focus {
    box-shadow: inset 0 0 1px #444444, 0 0 1px 1px #444444 !important;
    border-color: #444444 !important;
    outline: 0 !important;
}

.next-part {
    position: absolute;
    right: 0px;
    bottom: -57px;
    border: solid 0px;
    background-color: #eb3;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all .18s;
    transition: all .18s;
}

.next-part:hover,
.next-part:focus {
    background-color: #e6ad1d;
}

.back-part-btn {
    position: absolute;
    left: 0px;
    bottom: -57px;
    border: solid 0px;
    background-color: #e53;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all .18s;
    transition: all .18s;
}

.back-part-btn:hover,
.back-part-btn:focus {
    background-color: #da422e;
}

#form-send {
    background-color: #8c5;
}

#form-send:hover {
    background-color: #7cbb4c;
}

.fa-form-group-two>div.fa-inner-group {
    width: 46%;
    float: left;
}

.fa-form-group-two>div.fa-inner-group:last-child {
    margin-left: 20px;
    width: 46%;
    float: right;
}


/* Button */

.btn {
	color: #FFF!important;
	font-size: 18px;
	font-weight: bold;
	margin: 1em auto!important;
	text-transform: uppercase;
	background-color: #222;
	border: 1px solid #222;
	border-radius: 3px;
	padding: 15px 50px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

.btn:hover {
	background-color: #000;
}

.btn.btn-warning {
	background-color: #EB3;
	border-color: #EB3;
}

.btn.btn-warning:hover {
	background-color: #DA2;
}

.btn.btn-danger {
	background-color: #E53;
	border-color: #E53;
}

.btn.btn-danger:hover {
	background-color: #D42;
}

.btn.btn-success {
	background-color: #8C5;
	border-color: #8C5;
}

.btn.btn-success:hover {
	background-color: #7B4
}

/* Page Footer */

#footer {
    color: #AAA;
    background: #333;
    padding: 0 0 60px;
    margin-top: 115px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer .content {
    padding: 0 15px;
    margin: 0 auto;
    width: 80%;
}

#footer .footer-link {
    padding-top: 20px;
    text-align: center;
}

#footer hr {
    border: none;
    border-top: 2px solid #FFF;
    margin: 40px auto 0;
    width: 100px;
}

#footer span {
    color: #FFF;
    margin: 10px;
    display: inline-block;
}

#footer strong.h3 {
    font-size: 17px;
    text-transform: uppercase;
    display: block;
    margin-top: 60px;
    margin-bottom: 25px;
}

#footer .bloc a {
    color: #AAA;
}

#footer .bloc a:hover {
    color: #DDD;
    border-bottom: none;
}

#footer .bloc div {
    margin-bottom: 10px;
}

#footer .bloc i {
    width: 20px;
    text-align: center;
}

#footer .bloc {
    float: left;
    width: 25%;
}


/* Responsive Config */

@media (max-width: 1015px) {
    .form-progress {
        padding: 20px 30px;
    }
    .form-progress.clearfix * {
        font-size: 13px;
    }
    header.page-header {
        padding: 40px 60px;
    }
    span.progress-status {
        height: 20px;
        width: 20px;
        line-height: 20px;
        margin-right: 8px;
    }
    @media (max-width: 1099px) {
        .part {
            width: 75%;
        }
    }
    @media (max-width: 909px) {
        .part {
            width: 80%;
        }
        .fa-form-group-two>div.fa-inner-group {
            width: 100%;
            float: none;
        }
        .fa-form-group-two>div.fa-inner-group:last-child {
            margin-left: 0px;
            width: 100%;
            float: none;
        }
    }
    @media (max-width: 809px) {
        .part {
            width: 80%;
        }
    }
    @media (max-width: 650px) {
        #footer .bloc {
            float: none;
            width: 100%;
            text-align: center;
        }
        header.page-header {
            padding: 40px 30px;
        }
        header.page-header a.logo {
            font-size: 28px;
            padding-left: 70px;
        }
        header.page-header .social {
            display: none;
        }
        .form-progress {
            padding: 20px 30px;
        }
        .form-progress .progress-text {
            display: none;
        }
    }
