/** Início dos Emblemas **/
#field_id2 br { display:none; }
 
#field_id2 div[alt], .postprofile-info div[alt] {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    border-radius: 3px;
    display: inline-block;
    height: 45px;
    margin-top: 5px;
    margin-right: 6px;
    position: relative;
    width: 45px;
}
 
#field_id2 div[alt]:before, .postprofile-info div[alt]:before {
    content: attr(alt);
    position: absolute;
    top: -60%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%);
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 0 10px;
    border-radius: 3px;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    line-height: 24px;
    transition: 250ms opacity;
    z-index:998!important;
}
 
#field_id2 div[alt]:after, .postprofile-info div[alt]:after {
    position: absolute;
    top: -8px;
    left: calc(50% - 7px);
    content: '';
    -webkit-filter: drop-shadow(0 3px 9px rgba(0,0,0,0.18));
    filter: drop-shadow(0 3px 9px rgba(0,0,0,0.18));
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(0,0,0,0.9);
    opacity: 0;
    transition: 250ms opacity;
    z-index:998!important;
}
 
#field_id2 div[alt]:hover:before,
.postprofile-info div[alt]:hover:before,
#field_id2 div[alt]:hover:after,
.postprofile-info div[alt]:hover:after { opacity: 1; }
 
.postprofile-info div[alt] + br { display: none; }
 
.postprofile-info .label { margin-bottom: 10px; }
 
.show-more-em {
    padding: 9px 16px;
    background-color: #263238;
    border-radius: 3px;
    font-size: 14px;
    color: #fff!important;
    font-weight: 600;
}
.show-more-em:hover { background-color: rgba(0,0,0,0.44); }
/** Fim dos Emblemas **/

.button1[class^="ion-"]:before, .button2[class^="ion-"]:before, .button[class^="ion-"]:before, input[type="submit"][class^="ion-"]:before {
  font-size: 1.8rem;
  margin-right: 9px;
  vertical-align: -2px;
}
.ion-reply:before {
  font-size: 1.8rem;
  margin-right: 9px;
  vertical-align: -2px;
}
.btn-report {display: none;}
.button1[title*="não pode"] {background-color: #db4928!important;}
@font-face {
    font-family: 'Volter Goldfish';
    src: url("https://mundogoph.github.io/fonts/Volter.ttf") format('ttf'),
         url("https://mundogoph.github.io/fonts/Volter.woff2") format('woff2'),
         url("https://mundogoph.github.io/fonts/Volter.woff") format('woff'),
         url("https://mundogoph.github.io/fonts/Volter.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Correção :: Transição exagerada */
html * {
    transition: none;
    transition-duration: 0ms;
}

html a,
html button,
html input,
html [role="button"],
html .trans {
    transition: all 180ms linear;
    transition-duration: 180ms;
}
/** End :: Correção :: Transição exagerada */

input:focus { outline: transparent; }

/*  HEADER
**===================*/
.headerbar {
    background-color: #1D262C;
    background-image: url(https://i.imgur.com/UezmiZz.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
/*--- MENU ---*/
.menu {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(20,20,20);
    box-shadow: inset rgba(0, 0, 0, 0.20) 0px -2px 0px;
    height: 70px;
    z-index: 999;
}

.menu .menu-container {
    width: 95%;
    margin: 0 auto;
}

/*-- Links do menu --*/
.menu .menu-container .menu-link-wrapper {
    width: 40%;
    float: left;
}

.menu-link-wrapper .menu-link {
    background-color: rgba(190, 190, 190, 0.05);
    position: relative;
    display: inline-block;
    margin-right: 6px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.menu-link-wrapper .menu-link .icon {
    width: 100%;
    filter: grayscale(100%);
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-link-wrapper .menu-link:hover .icon { filter: grayscale(0%); }

.menu-link-wrapper .menu-link .icon.forum { background-image: url(https://i.imgur.com/jitvb34.png); }
.menu-link-wrapper .menu-link .icon.portal { background-image: url(https://i.imgur.com/uCeqD77.gif); }
.menu-link-wrapper .menu-link .icon.membros { background-image: url(https://i.imgur.com/D5cdIHq.gif); }
.menu-link-wrapper .menu-link .icon.grupos { background-image: url(https://i.imgur.com/WjOvImt.gif); }
.menu-link-wrapper .menu-link .icon.medalhistas { background-image: url(https://i.imgur.com/VRxDwjs.png); }

.menu-link-wrapper .menu-link .text {
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    background-color: #212121;
    box-shadow: 0 0 2px 1px rgba(255,255,255,.3) inset, 0 3px 9px rgba(0,0,0,.18);
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 25px;
    color: #fff;
    position: absolute;
    bottom: -30px;
    left: -20px;
    z-index: 2;
    width: 108px;
    height: 28px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,.18);
    opacity: 0;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    transition: .3s opacity;
}

.menu-link-wrapper .menu-link:hover .text {
    opacity: 1;
    -webkit-transition: .3s opacity;
    -moz-transition: .3s opacity;
    transition: .3s opacity;
}

.menu-link-wrapper .menu-link .text:after {
    position: absolute;
    top: -8px;
    left: calc(50% - 7px);
    content: '';
    -webkit-filter: drop-shadow(0 3px 9px rgba(0,0,0,0.18));
    filter: drop-shadow(0 3px 9px rgba(0,0,0,0.18));
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #464646;
}

/*-- Logo --*/
.menu .menu-container .menu-logo {
    background: url(https://i.imgur.com/rH1Oa6s.png) no-repeat center center;
    float: left;
    width: 28%;
    height: 70px;
}


/*-- Links das redes sociais --*/
.menu .menu-container .menu-social {
    position: absolute;
    top: 15px;
    right: 10px;
}

.menu-social .social-btn {
    box-shadow: inset 0 3px rgba(255,255,255,0.15), inset 0 -3px rgba(0,0,0,0.15), 0 3px rgba(0,0,0,0.1);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-top: 0px;
    text-align: center;
    color: #FFF;
    text-shadow: 0 4px rgba(0,0,0,0.2);
    font-size: 18px;
    float: left;
    padding: 5%;
    margin-right: 10px;
}

.menu-social .social-btn.social-facebook {
    background-color: rgb(80,113,156);
    background-image: linear-gradient(to bottom, rgb(80,113,156), rgb(55,80,115));  
}
.menu-social .social-btn.social-facebook:active { background-image: linear-gradient(to top, rgb(80,113,156), rgb(55,80,115)); }

.menu-social .social-btn.social-whatsapp {
    background-color: rgb(#34af23);
    background-image: linear-gradient(to bottom, #34af23, #227317);  
}
.menu-social .social-btn.social-whatsapp:active { background-image: linear-gradient(to top, #34af23, #227317); }

.menu-social .social-btn.social-discord {
    background-color: rgb(114,137,218);
    background-image: linear-gradient(to bottom, rgb(114,137,218), rgb(134,154,223));  
}
.menu-social .social-btn.social-discord:active { background-image: linear-gradient(to top, rgb(114,137,218), rgb(134,154,223)); }

/*--- HEADER BOX ---*/
.header-box {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(93, 89, 89, 0.8));
    width: 260px;
    height: 190px;
    border-radius: 10px;
    box-shadow: 0 3px rgba(0,0,0,0.15), 0 0 10px rgba(0,0,0,0.1), inset 0 -3px rgba(0,0,0,0.15);
    font-size: 13px;
    padding: 5px;
    color: #fff;
    text-shadow: 0 2px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.header-box .box-title {
    font-size: 20px;
    text-align: center;
}

.header-box .box-content {
    margin: 5px;
}

.box-content a {
    display: block;
    color: #fff;
}
.box-content a:hover { text-shadow: 0 0 5px; }

.header-box .box-avatar {
    float: right;
    margin-top: -48%;
}

.box-logout {
    width: 100%;
}

.login-inputbox {
    background-image: linear-gradient(to bottom, rgb(255,255,255), rgb(235,235,235));
    width: 240px;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    padding: 0 15px!important;
    font-size: 1em!important;
    cursor: auto!important;
    box-shadow: inset 0 -3px rgba(0,0,0,0.1), 0 0 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.1);
}
.login-inputbox:hover, .login-inputbox:focus { border-bottom: none!important; }

.login-btn {
    height: 40px;
    border-radius: 8px!important;
    margin: 2px;
    box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -3px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), 0 0 4px rgba(0,0,0,0.15)!important;
    color: #FFF;
    text-shadow: 0 2px rgba(0,0,0,0.2);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1px 10px!important;
    cursor: pointer!important;
}

.login-btn.login {
    background-image: linear-gradient(to bottom, rgb(80,113,156), rgb(55,80,115));
    border: 1px solid rgb(46,65,93);
    width: 140px!important;
}
.login-btn.login:active { background-image: linear-gradient(to top, rgb(80,113,156), rgb(55,80,115)); }

.login-btn.register {
    background-image: linear-gradient(to bottom, rgb(113,208,43), rgb(77,141,29));
    border: 1px solid rgb(48,88,18);
    width: 100px;
}
.login-btn.register:active { background-image: linear-gradient(to top, rgb(113,208,43), rgb(77,141,29)); }

.login-btn.logout {
    background-image: linear-gradient(to bottom, rgb(207,72,46), rgb(144,50,32));
    border: 1px solid rgb(102,36,23);
    width: 140px;
    margin-top: 0;
}
.login-btn.logout:active { background-image: linear-gradient(to top, rgb(207,72,46), rgb(144,50,32)); }

.login-btn.mp, .login-btn.notif {
    width: 48px;
    outline: none;
    font-size: 15px;
}

.login-btn.mp {
    background-image: linear-gradient(to bottom, rgb(255,165,0), rgb(179,116,0));
    border: 1px solid rgb(103,66,0);
}
.login-btn.mp:active { background-image: linear-gradient(to top, rgb(255,165,0), rgb(179,116,0)); }
.login-btn.mp:before {
    content: '\f0e0';
    font-family: 'Font Awesome 5 Free';
}

a[data-status*="Nova"] .login-btn.mp:after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    margin-left: -1%;
    margin-top: -.3%;
}


.login-btn.notif {
    background-image: linear-gradient(to bottom, rgb(113,208,43), rgb(77,141,29));
    border: 1px solid rgb(48,88,18);
}
.login-btn.notif:active { background-image: linear-gradient(to top, rgb(113,208,43), rgb(77,141,29)); }
.login-btn.notif:before {
    content: '\f0f3';
    font-family: 'Font Awesome 5 Free';
}


/*  CONTENT
**===================*/
.row1, .row2 { background-color: #fff; }

/*---- ANÃšNCIOS ----*/
#fa_ticker_block .module { background-color: transparent; }

/*---- BOTÃ•ES ----*/
.button1[title*="nÃ£o pode"] { background-color: #db4928!important; }

.button1[title*="Este FÃ³rum estÃ¡ Bloqueado."]:after { content: "FÃ³rum Bloqueado"; }

.button1[title*="Este TÃ³pico estÃ¡ bloqueado."]:after { content: "TÃ³pico Bloqueado"; }

.button1[title*="nÃ£o pode"] span { display: none; }

.button1:hover,
.button2:hover,
.button:hover,
input[type="submit"]:hover,
.button-round:hover { background-color: #242424; }

/*--- FÃ“RUNS E SUB-FÃ“RUNS ---*/
.forabg, .forumbg {
    background-color: transparent;
    box-shadow: 0 1px 6px rgba(0,0,0,0.06);
    margin-bottom: 24px;
}

.forabg .header, .forumbg .header {
    background-color: #212121;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1);
    color: #FFF;
    display: block;
    font-weight: 400;
    font-size: 13px;
    position: relative;
    border-bottom: 4px solid #000;
}

.btn-collapse i { font-size: 2.7rem!important; }

.forabg.hidden, .forumbg.hidden { background-color: transparent; }

.forabg.hidden .forums, .forumbg.hidden .forums { margin-top: 0; }

ul.topiclist.topics dd { padding: 8px 0; }

ul.topics .row dd.dterm, ul.topics .row dt { padding: 9px 18px 9px 30px; }

ul.forums dl.icon dd.dterm > div {
    margin-left: 30px!important;
    color: #777;
}

dd.dterm > div br { display: none; }

.forabg {
 font-family: Open Sans, Arial, sans-serif;
}

a.forumtitle:link,
a.forumtitle:visited,
a.topictitle:link,
a.topictitle:visited { 
     color: #263238;
     margin-bottom: 1%;
}

dd.posts, dd.topics, dd.views { font-size: 16px; }

dd.posts span, dd.topics span, dd.views span {
    clear: both;
    color: #797979;
    display: block;
    font-size: 13px;
}

dd.lastpost span br:nth-child(3) { display: none!important; }

dd.lastpost span.color-groups { float: none!important; }

.lastpost-avatar { padding: 0 18px 0 0; }

.lastpost-avatar:after { top: 0; }

dd.lastpost > span > strong:before {
    content: "por";
    font-weight: 300;
    margin: 0 5px;
}

/*-- Forum Header --*/
.sub-header-info { width: 100%; }

h1.page-title {
    display: block;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 16px;
}

.sub-header-path {
    background-color: #263238;
    border-radius: 3px;
    clear: both;
    color: #fff;
    display: inline-block;
    font-size: 0;
    margin-bottom: 22px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.sub-header-path a {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 9px 16px;
    position: relative;
}

.sub-header-path a:first-child { padding: 9px 16px!important; }

.sub-header-path a + a { margin-left: 0; }

.sub-header-path a + a:before {
    font-size: 16px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}

.sub-header-path a:hover { background-color: rgba(0,0,0,0.44); }

.sub-header-path a:last-child:after {
    bottom: 0;
    box-shadow: 0 0 11px 16px #263238;
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: 0;
    transition: all .16s ease;
    width: 5px;
}

.sub-header-path a:hover:after {
    -ms-filter: brightness(50%);
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.topic-actions-buttons > a, .topic-actions-buttons > span { margin: 0 0 0 18px; }

.plus-menu-wrap { float: left; }

.topic-actions-buttons #plus_menu {
    left: auto!important;
    right: auto!important;
}

/*--- TÃ“PICOS ---*/
.online:before { display: none; }

.profile-icons { padding-top: 5px!important; }

.profile-icons a {
    background-color: rgba(0,0,0,.7);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    height: auto;
    transition: .2s ease;
}

.profile-icons a:hover { background-color: #3793ff; }

.postprofile {
    border: 1px solid #f0f0f0;
    border-top: 0;
    border-left-width: 7px;
    border-radius: 3px 0 0 3px;
    width: 250px;
}

.postprofile:before {
    content: url(http://habboemotion.com/resources/images/icons/offline.gif);
    left: 5px;
    position: absolute;
    top: 5px;
}

.online .postprofile:before { content: url(http://habboemotion.com/resources/images/icons/online.gif); }

.postprofile-name { 
    font-size: 16px;
    margin-top: 5%;
}

.postprofile-avatar { margin: 10px 0; }

.postprofile-avatar img {
    border-radius: 0;
    height: auto;
    width: 160px;
}

.postprofile-rank {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.postprofile-info {
    border-top: 1px solid #ddd;
    padding-top: 5%;
}

.postbody { 
    margin-left: 250px;
    position: relative;
}

.postbody .content { margin-top: 5%; }

.topic-date {
    background-color: #f5f5f5;
    border-radius: 0 3px 0 0;
    overflow: hidden;
    padding: 8px 25px!important;
    opacity: 1!important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.topic-date span {
    color: rgba(0,0,0,.44);
    display: block;
    float: left;
    font-size: 13px;
    padding-top: 5px;
}

.topic-actions .right a img:hover { opacity: .8; }

.quickreply .h3 { display: none; }

/*--- CITAR, CODEBOX E SPOILER ---*/
blockquote {
    padding: 8px 16px 8px 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 0 0 0 6px;
    font-size: 14px;
    line-height: 1.5;
    background-color: transparent;
    border-width: 1px 1px 1px 6px;
}

blockquote:before, .codebox:before { display: none!important; }

blockquote cite {
    color: rgba(0,0,0,0.44);
    margin-bottom: 3px;
}

.codebox {
    background-color: #272822!important;
    border: 0 none!important;
    border-radius: 3px!important;
    color: #FFF;
    font-size: 14px!important;
    line-height: 1.3!important;
    padding: 7px 15px!important;
    font-family: "Ubuntu Mono", FontAwesome;
}

.codebox .fa-code-copy-button {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #fff;
}

.codebox:not(.spoiler) dt { 
    font-size: 0!important;
    text-align: left!important;
}

.codebox dt {
    color: rgba(255,255,255,0.44)!important;
    margin-bottom: 3px!important;
    border-bottom: none!important;
}

.spoiler_content .codebox:not(.spoiler) dt {
    color: rgba(255,255,255,0.44)!important;
    background-color: transparent;
}

.spoiler_content .codebox dt:after { display: none; }

.codebox code {
    max-height: 200px!important;
    white-space: normal!important;
    color: #e6e1dc!important;
    margin: 0!important;
    font-size: 11pt!important;
    font-family: "Ubuntu Mono",FontAwesome!important;
}

.spoiler {
    border: none!important;
    background-color: transparent!important;
    padding: 0!important;
    color: #212121;
}

.spoiler dt {
    background-color: rgba(0,0,0,0.22);
    border-radius: 3px;
    padding: 6px 11px;
    position: relative;
    color: #263238!important;
    font-size: 15px!important;
    font-family: "Segoe UI", "Ubutu", "Helvetica Neue", sans-serif;
}

.spoiler dt:after, .spoiler_content .spoiler dt:after {
    content: "\f104";
    font-family: "IonIcons";
    line-height: 36px;
    pointer-events: none;
    position: absolute;
    right: 11px;
    top: 0;
}

.spoiler_content {
    border-left: 3px solid rgba(0,0,0,0.22);
    display: none;
    margin-top: 6px;
    padding-left: 22px!important;
    padding-bottom: 20px;
    padding: 2px;
    font-family: "Segoe UI", "Ubutu", "Helvetica Neue", sans-serif;
}

.hljs-literal, .hljs-symbol, .hljs-bullet, .hljs-attribute, .hljs-string, .hljs-variable, .hljs-template-variable, .hljs-strong, .hljs-emphasis, .hljs-quote,
.hljs-title, .hljs-attr, .hljs-selector-id, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-keyword, .hljs-selector-tag, .hljs-type {
    color: #e6e1dc!important;
}
.hljs {
  padding: 0!important;
}

/*--- OUTROS ELEMENTOS BBCODES ---*/
div[class*='post--'] .postbody table {
    border: none!important;
}
#preview .postbody table .crhtd,
#preview .postbody td .crhtd,
div[class*='post--'] .postbody table .crhtd,
div[class*='post--'] .postbody td .crhtd {
    border: none!important;
}
#preview .postbody table .crhtd2,
#preview .postbody td .crhtd2,
div[class*='post--'] .postbody table .crhtd2,
div[class*='post--'] .postbody td .crhtd2 {
    border: none!important;
}
#preview .postbody table:not(.info-table), 
#preview .postbody td, 
div[class*='post--'] .postbody table:not(.crhtable), 
#preview .postbody table:not(.crhtable), 
#preview .postbody td:not(.crhtd),
div[class*='post--'] .postbody td { border: solid 1px #c2c2c2!important; }

#preview .postbody .info-table, 
#preview .postbody .info-table td, 
div[class*='post--'] .postbody .info-table,
#preview .postbody .crhtable, 
div[class*='post--'] .postbody .crhtd, 
div[class*='post--'] .postbody .crhtd2, 
div[class*='post--'] .postbody .info-table td { border: none!important; }

hr { border-top-color: #444; }

.postbody .content table:not(.crhtable) {
    border-collapse: collapse;
    border: solid 1px #c2c2c2;
    text-align: center;
    width: -webkit-fill-available;
}
.postbody .content table tr:not(.crhtr) {
    border-bottom: solid 1px #d0d0d0;
}
.postbody .content table td, .postbody .content table th {
    padding: 15px 15px;
    border: none;
}

/*--- BLOCOS DE INFORMAÃ‡Ã•ES ---*/
.block {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1);
    font-size: 13px;
    margin: 22px 0;
    padding: 16px;
    font-family: Open Sans, Arial, sans-serif;
}

.block.user-in-forum br { display: none; }

.block .h3 {
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 0;
    border: none;
}

.block .h3 i {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 8px;
    color: #3F51B5;
}

/*-- Legenda --*/
.block .legend { font-size: 0px; }

.block .legend b a {
    font-size: 13px;
    font-weight: bold;
}

.block .legend b a::after {
    content: ", ";
    font-weight: 400;
    color: #000;
}

.block .legend b:last-child a::after { content: ""; }

/*  PÃGINAS
**===================*/

/*---- MEMBROS ----*/
.forumbg-table table thead tr { background-color: #387852; }

/*---- REGISTRO ----*/
.instruction {
    width: 80%;
    height: 160px;
    position: relative;
    background-color: #8D6CAB;
    background-image: url(https://i.imgur.com/axuzFM4.png);
    border-radius: 5px;
    margin: auto;
}
.instruction:before {
    width: 170px;
    height: 160px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(https://i.imgur.com/mC9g8Wg.png);
    border-radius: 0 5px 5px 0;
    content: '';
}
.instruction .frank {
    width: 110px;
    height: 143px;
    margin: 17px 0 0 17px;
    background-image: url(https://i.imgur.com/smFt8fk.png);
    float: left;
}
.instruction .cont {
    width: 540px;
    height: 110px;
    margin: 20px 0 0 11px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    font-size: 12px;
    color: #FFF;
    float: left;
}
.instruction .cont p:first-of-type {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}


/*  USERS & GRUPOS
**===================*/
.rank{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    width: 160px;
    margin: 5px auto;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.14),inset 0 0 1px 1px rgba(0,0,0,.1);
    text-align: center;
    line-height: 33px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
/* Ranks Administrativos*/
.rank.cote{background: linear-gradient(to right, #000000 0%, #4b0303 100%); color:#9e0000;}
.rank.cote:before{content: "\f714";margin-right: 5px;font-family: "Font Awesome 5 Free";} 

/*SCEDITOR*/

.sceditor-button-staff { position: relative;}
.mod_box {
    top: 73px;
    -moz-background-clip: padding;
    background: #fafafa;
    background-clip: padding-box;
    border: 1px solid #eee;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    color: #666;
    width: 200px;
    line-height: 1;
    position: absolute;
}
#quick_reply .mod_box {
    top: 35px;
}
.sceditor-button-staff.disabled div {
    opacity: 1.0 !important;
    filter: alpha(opacity=100) !important;
}

.sceditor-button, .sceditor-button div {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
.sceditor-button {position: relative;}
a.sceditor-button {padding: .7em;}
.sceditor-button * {
  text-indent: initial!important;
  color: #333!important;
  line-height: 15px!important;
}
.sceditor-button div {
  font-size: 0px!important;
  background-image: none!important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sceditor-button div:before {
  font-size: 15px!important;
  font-family: FontAwesome;
  text-indent: initial!important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500!important;
}
.sceditor-button-bold div:before {content: "\f032";}
.sceditor-button-italic div:before {content: "\f033";}
.sceditor-button-underline div:before {content: "\f0cd";}
.sceditor-button-strike div:before {content: "\f0cc";}
.sceditor-button-left div:before {content: "\f036";}
.sceditor-button-center div:before {content: "\f037";}
.sceditor-button-right div:before {content: "\f038";}
.sceditor-button-justify div:before {content: "\f039";}
.sceditor-button-bulletlist div:before {content: "\f0ca";}
.sceditor-button-orderedlist div:before {content: "\f0cb";}
.sceditor-button-horizontalrule div:before {content: "\f068";}
.sceditor-button-quote div:before {content: "\f10d";}
.sceditor-button-code div:before {content: "\f1c9";}
.sceditor-button-faspoiler div:before {content: "\f146";}
.sceditor-button-fahide div:before {content: "\f070";}
.sceditor-button-table div:before {content: "\f0ce";}
.sceditor-button-servimg div:before {content: "\f03e";}
.sceditor-button-image div:before {content: "\f1c5";}
.sceditor-button-link div:before {content: "\f0c1";}
.sceditor-button-youtube div:before {content: "\f166";}
.sceditor-button-dailymotion {display: none;}
.sceditor-button-flash div:before {content: "\f008";}
.sceditor-button-headers div:before {content: "\f1dc";}
.sceditor-button-size div:before {content: "\f034";}
.sceditor-button-color div:before {content: "\f1fc";}
.sceditor-button-font div:before {content: "\f031";}
.sceditor-button-removeformat div:before {content: "\f12d";}
.sceditor-button-more div:before {content: "\f067";}
.sceditor-button-subscript div:before {content: "\f12c";}
.sceditor-button-superscript div:before {content: "\f12b";}
.sceditor-button-fascroll div:before {content: "\f060";}
.sceditor-button-faupdown div:before {content: "\f062";}
.sceditor-button-farand div:before {content: "\f074";}
.sceditor-button-date div:before {content: "\f133";}
.sceditor-button-time div:before {content: "\f017";}
.sceditor-button-pastetext div:before {content: "\f0ea";}
.sceditor-button-source div:before {content: "\f016";}
.sceditor-button-dailymotion div:before {content: "\f03d";}
.sceditor-button-staff div:before {content: "\f132"; color: #C0392B;}
.success, .information, .warn, .alert, .custom, .dev, .jrevo, .admin, .audi {
    width: 95%;
    height: auto;
    padding: 1.4em;
    margin: 1em;
    text-align: left;
    border-radius: 2px;
    font-weight: 300;
    color: white;
}

/*USUARIOS SCRIPT */
#user-hoverbox:before {
border-bottom: 5px solid #363636;
border-left: 5px solid rgba(0, 0, 0, 0);
border-right: 5px solid rgba(0, 0, 0, 0);
content: "";
height: 0;
left: 12px;
position: absolute;
top: -4px;
width: 0;
}
#user-hoverbox {
display: initial !important;
margin-left: 5px;
min-width: 160px;
padding-top: 1px;
position: absolute;
z-index: 999;
}
#user-hoverbox-inner {
border: 1px solid #000000;
border-radius: 2px 2px 2px 2px;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.31);
width: 210px;
}
#user-hoverbox #user-hoverbox-inner a {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.87);
color: #DADADA;
border-bottom: 1px solid #AAAAAA;
display: block;
font-size: 11px;
padding: 8px;
text-align: left;
text-shadow: none !important;
z-index: 999;
}
.pun #page-body #user-hoverbox #user-hoverbox-inner a {
font-style: normal;
font-weight: 400;
}
#user-hoverbox #user-hoverbox-inner a:hover {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.93);
color: #FCFCFC;
}

        .fade {
            display:inline-block;
            background: -moz-linear-gradient(left, rgb(235,234,221) 0%, rgba(235,234,221,0) 100%);
            background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, rgb(235,234,221)), color-stop(1.00, rgba(235,234,221,0)));
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebeadd, endColorstr=#00ebeadd, GradientType=1);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebeadd, endColorstr=#00ebeadd, GradientType=1)";
        }
        .blur {
            display:inline-block;
            color:#ddd;
            text-shadow: 0 0 2px #aaaaaa;
            text-shadow: 0 0 4px #aaaaaa;
            text-shadow: 0 0 6px #aaaaaa;
            -ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelradius=2)";
            filter:
                progid:DXImageTransform.Microsoft.MotionBlur(strength=1,direction=310)
                progid:DXImageTransform.Microsoft.Blur(pixelradius=2);
        }
        .flipH {
            display:inline-block;
            -moz-transform:scale(-1,1);
            -o-transform:scale(-1,1);
            -webkit-transform:scale(-1,1);
            transform:scale(-1,1);
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
            filter: progid:DXImageTransform.Microsoft.Matrix(
                M11=-1,
                M12=0,
                M21=0,
                M22=1,
                SizingMethod="auto expand");
        }
        .flipV {
            display:inline-block;
            -moz-transform:scale(1,-1);
            -o-transform:scale(1,-1);
            -webkit-transform:scale(1,-1);
            transform:scale(1,-1);
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=-1, SizingMethod='auto expand')";
            filter: progid:DXImageTransform.Microsoft.Matrix(
                M11=1,
                M12=0,
                M21=0,
                M22=-1,
                SizingMethod="auto expand");
}
.post-entry {
color: #fff!important;
}
.admin-link a:nth-child(2) {
   display: none!important;
}

/*BEGIN-SCROLL*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #6c757d;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
